# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

/node_modules
/public/build
/public/hot
/public/storage
/dist
/dist-ssr
*.local

/vendor


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


/.phpunit.cache
/bootstrap/ssr

/storage/*.key

.env
.env.backup
.env.production
.phpunit.result.cache

Homestead.json
Homestead.yaml

auth.json
npm-debug.log
yarn-error.log

/.fleet
/.idea
/.vscode
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php
